
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
    transition: background 0.3s;
}

h1, h2, h3 {
    margin: 0;
}


main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}


form {
    margin: 20px 0;
}

form p {
    margin: 10px 0;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #06c56f;
    border-radius: 5px;
}

input[type="submit"] {
    background: #35424a;
    color: #b20e0e;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #e8491d;
}


.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    background: #e8491d;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}